* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.container .thumb {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.container .thumb li {
    list-style: none;
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e;
    border-radius: 20px;
    backdrop-filter: blur(4px);
}

.container .thumb li img {
    width: 80px;
    height: 80px;
}


/* .container .thumb li img {
    display: none;
    transform: rotate(-35deg);

} */

.container .imgBx {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #fff;
    align-items: center;
    box-shadow: 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    padding-left: 50px;
}

.container .imgBx h2 {
    color: #7e7e7e;
    letter-spacing: 1;
}

.container .imgBx img {
    width: 200px;
    height: 200px;
    transition: 0.25s;
}

.container .imgBx img:hover {
    transform: scale(1.5) rotate(-15deg) translateX(20px);
}

.container .imgBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .imgBx .size span {
    color: #000;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-right: 5px;
}

.container .imgBx .size li {
    list-style: none;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #1e6b7b;
    margin: 5px;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e;
    cursor: pointer;
    transition: 0.25s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .imgBx .size li:hover {
    transform: translateY(-18px);
}

.container .imgBx .btn {
    position: absolute;
    bottom: -30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e, 0 0 10px #7e7e7e;
    font-weight: 500;
    color: #373838;
    transition: 0.25s;
}

.container .imgBx .btn:hover {
    letter-spacing: 2px;
}