@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #4285f4;
}
.wrapper{
    width: 370px;
    margin: 130px auto 0;
}
.select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 7px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-btn, .options li{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-btn .fa-angle-down{
    font-size: 31px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn .fa-angle-down{
    transform: rotate(-180deg);
}
.content{
    display: none;
    background:#fff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
}
.wrapper.active .content{
    display: block;
}
.content .search{
    position: relative;
}
.content .search .fa-magnifying-glass{
    position: absolute;
    left: 15px;
    top: 15px;
    line-height: 53px;
    font-size: 20px;
    color: #999;
}
.content .search input{
    height: 53px;
    width: 100%;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
}
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}
.options li{
    height: 50px;
    border-radius: 5px;
    padding: 0 13px;
    font-size: 20px;
}
.options li:hover{
    background: #43dbe5;
}