/* 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70vh;
    background: url(./img/bg.jpg) no-repeat center center/cover;
}

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    position: fixed;
}

header .navbar .logo {
    padding: 0 32px;
}

header .navbar ul li {
    list-style: none;
    display: inline-flex;
    padding: 0 20px;
}

header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 500px;
    font-size: 14px;
}

header .navbar ul li .btn {
    border: 1px solid #fff;
    padding: 15px 30px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    max-width: 1200px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero img {
    margin-bottom: 35px;
}

.hero h1 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 300;
    color: #313131;
    margin-bottom: 40px;
}

.hero p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #4d4d4d;
    letter-spacing: 0px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 16px;
}

.hero .btn-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.hero .btn-group button {
    border: none;
    outline: none;
    padding: 18px 25px;
    font-size: 21px;
    font-weight: 600;
}

.hero .btn-group button:first-child {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.hero .btn-group button:last-child {
    background: #fff;
    border: 1px solid #fff;
    color: cyan;
}


Resonsive E-Learning Section 

.learning {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learning .row {
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 20px;
}

.learning h2 {
    font-size: 40px;
    line-height: 48px;
    color: #313131;
    font-weight: 300;
    margin-bottom: 24px;
}

.learning h4 {
    font-size: 21px;
    line-height: 24px;
    color: #313131;
    font-weight: 400;
    margin-bottom: 24px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.learning .row .col p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #4d4d4d;
    letter-spacing: 0px;
    margin-bottom: 35px;
}

.learning .row .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.learning .row .col a {
    border: none;
    outline: none;
    text-decoration: none;
    color: cyan;
    background: transparent;
    border: 1px solid cyan;
    padding: 17px 24px;
    font-size: 16px;
    font-weight: 600;
    width: 70%;
}

.learning .row .col a:hover {
    background: cyan;
    color: #fff;
}

.learning .row .col img {
    padding: 0 20px;
} */

body {
    margin: 0;
    overflow: hidden;
  }